* {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
}

body {
  width: 100%;
  margin: auto;
  max-width: 612px;
  /* padding: 8px; */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  margin-bottom: 40px;
  padding: 8px;
}

header h5 {
  font-family: OpenSans-ExtraBold;
  font-size: 10px;
  color: #000000;
  text-align: center;
  margin-bottom: 4px;
}

header p {
  font-family: OpenSans-SemiBold;
  font-size: 10px;
  color: #000000;
  text-align: center;
}

h3 {
  font-family: OpenSans-SemiBold;
  font-size: 9px;
  text-align: center;
  border-radius: 4px;
}

.address {
  padding: 16px 18px;
  align-self: flex-start;
  margin-bottom: 24px;
  border: 2px solid black;
  margin-left: 8px;
}

.tax-notice {
  font-family: OpenSans-Regular;
  font-size: 9px;
  text-align: center;
  margin-bottom: 24px;
}

.secondary-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 8px;
}

.secondary-header h3 {
  padding: 0;
}

.order,
.order-header {
  display: grid;
  grid-gap: 10px 16px;
  grid-template-columns: auto 1fr auto;
  justify-items: flex-start;
  padding: 0 8px;
}

.order-header {
  padding: 8px;
  border-top: 2px dotted black;
  border-bottom: 2px dotted black;
}

.order {
  align-items: center;
}

.order {
  font-family: OpenSans-SemiBold;
  font-size: 10px;
}

.order h3 {
  color: transparent;
  line-height: 0px;
}

.order .quantity {
  padding: 4px;
  border: 1px solid black;
  width: 70%;
  text-align: center;
}

footer {
  margin-top: auto;
  padding: 0 8px;
}

footer p {
  font-family: OpenSans-SemiBold;
  font-size: 10px;
}

footer .order-data {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

footer .credit {
  margin-bottom: 16px;
}

footer .balances {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

footer .paid {
  margin-bottom: 16px;
}

footer .signature {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

footer .signature p {
  margin-left: 16px;
}
